<mat-drawer-container class="example-container mat-typography" autosize>
    <mat-drawer #drawer mode="side" disableClose="true" opened="true"  class="sidedrawer">
        <mat-nav-list class=" hovericon navlisticon_black" >
            <div *ngFor="let item of NavtopItem">
                <mat-list-item >
                    <mat-icon mat-list-icon >{{item}}</mat-icon>
                </mat-list-item>
            </div>
            <mat-divider  class="nav_divider"></mat-divider>
        </mat-nav-list>
        <mat-nav-list class="sidenav_topbar hovericon navlisticon" >
          
            <div *ngFor="let item of NavItem1">
                <mat-list-item >
                    <mat-icon mat-list-icon >{{item}}</mat-icon>
                </mat-list-item>
            </div>
        </mat-nav-list>
        <mat-nav-list class=" hovericon navlisticon" >
            <mat-list-item *ngFor="let item of NavItem2">
                <mat-icon mat-list-icon>{{item}}</mat-icon>
            </mat-list-item>
        </mat-nav-list>
    </mat-drawer>
    <div fxLayout="column" class="example-sidenav-content">
        <mat-toolbar class="toolbar">
            <div fxLayout="row" fxFlex="100" fxLayoutAlign="start center" fxLayoutGap="14px">
                <div class="header_icon">
                    <mat-icon class="account_circle">account_circle</mat-icon>
                </div>
                <div fxFlex="67" class="headertitle_div">
                    <p class="headertitle">iamneo.ai Talent Center</p>
                </div>
                <div>
                    <mat-form-field class="search_input ">

                        <input matInput autocomplete="off" [(ngModel)]="filterText"  (ngModelChange)="onTextChanged()" placeholder="Search">
                        <mat-icon matPrefix class="serachicon_search">search</mat-icon>

                    </mat-form-field>
                </div>
                <div>
                    <button mat-stroked-button class="add_btn">
                        <mat-icon class="add_icon">add</mat-icon> Add New
                    </button>
                </div>
                <div>
                    <mat-divider [vertical]="true" class="header_divider"></mat-divider>
                </div>
                <div class="reedem_div">
                    <mat-icon matBadge="1" class="redeem_icon" matBadgeColor="warn">redeem</mat-icon>
                </div>
                <div>
                    <div class="circle_person">
                        <p class="circle_title">S</p>
                    </div>
                </div>
            </div>
        </mat-toolbar>
        <div fxLayout="row" class="second_title" fxFlex="100" fxLayoutAlign="start center">
            <div class="card_div">
                <mat-icon class="card_travel">card_travel</mat-icon>

            </div>
            <div>
                <p>Jobs</p>

            </div>
            <div>
                <mat-icon class="chevron_icon">chevron_right</mat-icon>

            </div>
            <div class="fullstack_div">
                <p class="chevron_icon">Full-stack Engineer</p>

            </div>
            <div class="job_div">
                <button mat-stroked-button class="JobDetail_btn">View Job Details</button>

            </div>
            <!-- <div style="font-size: 10px">
                <mat-form-field class="select_input " appearance="outline">
                    
                    <mat-select class="select">
                        <mat-option value="Db" >
                            Example 1
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div> -->

            <div style="font-size: 10.9px;" class="addCandidate_div">
                <mat-form-field style="width: 100%;" appearance="outline">
                    <!-- <mat-label>Add Candidate</mat-label> -->
                    <mat-select  [(value)]="selected_Canditate">
                        <mat-option value="Add Candidate">Add Candidate</mat-option>

                    </mat-select>
                </mat-form-field>
            </div>
            <div style="font-size: 10px" class="addCandidate_div">
                <mat-form-field style="width: 94%; " class="publishselect publishmat arrow"   appearance="outline">
                    
                    <!-- <mat-label>Describe</mat-label> -->
                    <span matPrefix style="margin-right: 9px;">
                        <mat-icon style="font-size: 18px;
                        color: white;">language</mat-icon>
                    </span>
                    <mat-select [(value)]="selected_Published" class="publishselect publishmat arrow" >
                        <mat-option value="Published">
                            Published</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

        </div>

        <div fxLayout="column" class="bottom_title" fxFlex="100">
            <div fxLayout="row" fxFlex="100" fxLayoutAlign="start center">
                <div fxLayout="row" fxFlex="28" fxLayoutGap="5px">
                    <div>
                        <p class="allcandidates">All Candidates </p>
                    </div>
                    <div class="hiphen">
                        <p>-</p>
                    </div>
                    <div fxLayoutAlign="start center" class="active49_div">
                        <mat-form-field style="width: 55% " class="no-line appearance_active sort" appearance="standard">
                            <!-- <mat-label>Describe</mat-label> -->

                            <mat-select [(value)]="selected_Published" class="sort">
                                <mat-option value="Published" class="sort">
                                    Active (48)</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <!--  -->
                <div fxLayout="row" fxFlex="68" fxLayoutGap="21px">
                    <div>
                        <p class="sort">Sort By </p>
                    </div>
                    <!-- <div class="hiphen">
                        <p>-</p>
                    </div> -->
                    <div fxLayoutAlign="start center" class="active49_div">
                        <mat-form-field style="width: 57% " class="no-line appearance_updated" appearance="standard">
                            <!-- <mat-label>Describe</mat-label> -->

                            <mat-select [(value)]="selected_Published" >
                                <mat-option value="Published" >
                                    Last Updated</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <!--  -->
                <div fxLayout="row" fxFlex="11" fxLayoutGap="15px">
                    <div fxFlex="12">
                        <mat-icon style="font-size: 22px;">toc</mat-icon>
                    </div>
                    <div fxFlex="12">
                        <mat-icon style="font-size: 22px;">filter_alt</mat-icon>
                    </div>
                    <div fxFlex="12">
                        <mat-icon style="font-size: 22px;">publish</mat-icon>
                    </div>
                </div>
            </div>
            <div>
                <app-recruiters-details [SearchElement]=filterText></app-recruiters-details>
             

            </div>
        </div>
    </div>
</mat-drawer-container>
<router-outlet></router-outlet>